body {
	margin: 2%;
	/*background-color: #A6A6A6;*/
	background-image: url('https://media.giphy.com/media/3o7aCTfyhYawdOXcFW/giphy.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

h1 {
	text-align: center;
	background-color: #730D15;
	color: #FFFFFF;
	padding: 30px;
}

h2 {
	text-align: right;
	color: #F2F2F2;
}

h5 {
	text-decoration: underline;
}

.onePlayerSelection, .twoPlayerSelection {
	height: 100px;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	display: block;
	margin-top: 3%;
}

.dropDown {
	position: relative;
	display: inline;
	display: none;
	/*margin-top:1000px;*/
}

.dropButton {
	background-color: #324759;
	color: #FFFFFF;
	padding: 16px;
  	font-size: 16px;
  	border: none;
  	text-align: center;
  	width: 300px;
}

.dropDownContent {
	display: none;
	position: absolute;
	background-color: #F2F2F2;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}

.dropDownContent button{
	color: black;
	padding: 12px 16px;
	text-decoration: underline;
	display: block;
}

.dropDownContent button:hover {
	color: #F2F2F2;
	background-color: #000;
}

.dropDown:hover .dropDownContent {
	display: block;
}

.dropDown:hover .dropButton {
	background-color: #730D15;
}

#easyButton {
	width: 300px;
}

#mediumButton {
	width: 300px;
}

#hardButton {
	width: 300px;
}

.createProfile {
	background-color: #A6A6A6;
	width: 50%;
	/*margin-right: auto;*/
	margin-left: auto;
	display: none;
	padding: 40px 30px 80px 30px;
	text-align: center;
	font-size: 22px;
	font-family: 'Ubuntu', sans-serif;
}

.container {
	display: flex;
}







































