body {
	margin: 2%;
	background-image: url('https://media.giphy.com/media/3o7aCTfyhYawdOXcFW/giphy.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

div {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	text-align: center;
	background-color: #730D15;
	color: #FFFFFF;
	padding: 30px;
	font-family: 'Ubuntu', sans-serif;
}

h3 {
	color: #0D0D0D;
	font-family: 'Ubuntu', sans-serif;
}

h4 {
	text-align: center;
	margin: 1%;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
}

h5 {
	text-align: center;
	margin: 1%;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
}

.onePlayerSelection, .twoPlayerSelection {
	height: 100px;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	display: block;
	margin-top: 3%;
	border-radius: 6px;
	transition-property: background, border-radius;
	transition-duration: .2s, 1s;
	transition-timing-function: linear;
}

.onePlayerSelection:hover, .twoPlayerSelection:hover {
	background: #324759;
	color: #FFFFFF;
	font-size: 13px;
  	border-radius: 50%;
}

.createProfile {
	background-color: #A6A6A6;
	width: 50%;
	margin-right: auto;
	opacity: 0.8;
	margin-left: auto;
	display: none;
	padding: 40px 30px 80px 30px;
	text-align: center;
	font-size: 22px;
	font-family: 'Ubuntu', sans-serif;
}

#input-box {
	height: 50px;
	width: 150px;
	text-align: center;
}

#difficultyButton {
	height: 50px;
	width: 150px;
	text-align: center;
}

#submitButton {
	height: 50px;
	width: 150px;
	text-align: center;
}

.gameSection {
	display: none;
}

.container {
	display: flex;
	justify-content: space-between;
}

.rounds {
	background-color: #0D0D0D;
	color: #F2F2F2;
	padding: 2%;
	margin: 0.5%;	
	width: 5%;
	height: 25%;
	position: sticky;
	text-align: center;
}

.timer {
	background-color: #0D0D0D;
	color: #F2F2F2;
	padding: 2%;
	margin: 0.5%;	
	width: 5%;
	height: 25%;
	position: sticky;
	text-align: center;
}

.score {
	background-color: #0D0D0D;
	color: #F2F2F2;
	padding: 2%;
	margin: 0.5%;	
	width: 5%;
	height: 25%;
	position: sticky;
	text-align: center;
}

.lives {
	background-color: #0D0D0D;
	color: #F2F2F2;
	padding: 2%;
	margin: 0.5%;
	width: 5%;
	height: 25%;
	position: sticky;
}

/*.floatingWords {
	width: 100%;
	height: 500px;
	border: 3px solid black;
}*/

.startButton {
	height: 100px;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	display: block;
	margin-top: 15%;
}

#valueOfUserInput {
	width: 87%;
	height: 20%;
	margin: 3%;
	padding: 3%;
	margin-right: auto;
}

.wrapper {
	height: 400px;
    /*width: 100%;*/
    position: static;
    /*margin-left: 36%;*/
    display: none;
}

.wordsscreen{
 	height: 300px;
	/*width: 400px;*/
	width: 100%;
	position: relative;
	border: 3px solid #ccc;
	/*float: left;*/
	/*overflow:hidden;*/
}

.clear {
	clear:both;
}

.clear input { 
    font-size: 20px;
	width: 400px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #ccc;
	margin-top: 4px;
	text-align: center;
}

.quote:nth-child(odd) { 
	left:30%; 
}

.quote:nth-child(even) {
    right:20%;
}
     
.score-board {
	font-size: 20px;
}
     
b.error {
	position: absolute;
	bottom: 0;
	right: 0;
	color: red;
	font-family: sans-serif;
	font-size: 12px;
	padding: 4px;
}

.quote {
	width: auto;
	background: black;
	color: #fff;
	padding: 4px;
	display: inline;
	position: absolute;
	top: 0;
	border-radius: 5px;
	height:20px;	
}




































